@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~slick-carousel/slick/slick.css"; 
@import "~slick-carousel/slick/slick-theme.css";

:root {
  background: black;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.navbar{
  background-color: rgb(10,10,10);
}
.navbar .nav-link.nav-link-white {
  color:rgb(255, 255, 255);
  font-size: 14px;
  
}

.drop-elemento{
  padding: 100px;
  font-size: 13px;
}
.navbar .nav-link.nav-link-white:hover {
  color:rgb(200, 200, 200)
}


